/*Header of Page*/

        #title1{
            color:green;
            font-family: Arial, Helvetica, sans-serif ;
            font-weight: bold; 
            font-size: 40pt;
        }
/*Content  below Header*/

        #content{
        color: grey;
        width: 1200px;
        font-family: Arial, Helvetica, sans-serif ;
        font-size: 18pt; 
        margin-left: auto;
        margin-right: auto;
        }
 /*Box inside Categories Page*/
        #tbg{
            height: 220px; 
            width: 180px;   
            box-shadow: 1px 1px 5px gray ;
            border-radius: 20px;
            margin-top: 5%;
            margin-left: 5%;
        }

/*Image Zoom*/
        .image-box {
            position: relative;
            margin: auto;
            overflow: hidden;
            width: 100%;
            
        }
        .image-box img {
            max-width: 100%;
            transition: all 0.6s;
            display: block;
            width: 100%;
            height: auto;
            transform: scale(1);
            
        }

        .image-box:hover img {
            transform: scale(1.4);
            
        }

    /*Content Below Image*/
        #activity{
            font-size: 12pt;
            font-weight: bolder; 
            text-align: center;
            margin-left: auto;
            color: rgb(5, 177, 180);
        }
        #activity:hover{
            color: deepskyblue
        }
       
