
/*<hr> of Footer*/
        #fthr{
            height:3px; 
            background: rgb(0,86,255);
            background: linear-gradient(167deg, rgba(0,86,255,1) 0%, rgba(1,241,255,1) 40%, rgba(239,251,255,1) 71%, rgba(240,101,125,1) 87%, rgba(246,17,95,1) 100%);
        }
/*<th> in <Table> of Footer*/  
        #tbftth{
            width: 300px;

        }
/*<Table> of Footer*/
        #tbft{
            margin-left: 50px;
        }
/*<a> in <td> of Footer */
        #aft{
            color: black;
            text-decoration: none;
        }
/*Aside*/
        .asde{
            height: 65px;
            width: 65px;
            line-height: 65px;
            position: fixed;
            bottom: 60px;
           
        }

/* Smooth scrolling to the top */
@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
}

@media screen and (max-width: 1200px) {
    .asde{
        margin-left: 93%;
    }

    
}

@media screen and (max-width: 700px) {
    .asde{
        margin-left: 80%;
    }

    
}
@media screen and (min-width: 1200px) {
    .asde{
        margin-left: 93%;
    }
}